@charset "UTF-8";
@font-face {
  font-family: serif;
}
/*
Name: John Ryan
Date: July 2021
File: styles.css
*/

/*Main*/
body {
  background-image: url(nature.jpg);
  background-size: cover;
}
header {
  background: rgba(005,005,005, 1.0);
  color: white;
  margin: auto;
  width: 75%;
  padding: 5px;
  text-align: center;
  font-family: helvetica;
  overflow:auto;
}
header img{
  display: none;
}
footer {
  background: rgba(005,005,005, 1.0);
  color: white;
  margin: auto;
  width: 75%;
  padding: 5px;
  text-align: left;
  overflow:auto;
}

.container {
  background: rgba(005,005,005, 0.4);
  color: white;
  margin: auto;
  width: 75%;
  padding: 5px;
  text-align: center;
  overflow:auto;

}
.container img {
  display:block;
  margin: auto;
  width: 128px;
  border-color: rgb(255, 0, 0);
  border-style: ridge;
}
br {
  display: none;
}
/*Nav*/


@media screen and  (min-width:680px) {

 .container img {

   width: 256px;
 }
 .column1 p {
   background: rgba(100,100,100, 0.4);
   width: 50%;
   margin:auto;
 }
 .column2 p {
   background: rgba(100,100,100, 0.4);
   width: 50%;
   margin:auto;
 }
 .column3 p {
  background: rgba(100,100,100, 0.4);
  height: 50%;
  width: 50%;
  margin:auto;
 }
}
@media screen and  (min-width:1280px) {
  header img{
    width: 128px;
    display: inherit;
    margin: 0px;
  }
  .left{
    float:left;
    margin: 0px;
  }
  .right{

    float:right;
  }
  .container img{
    width:512px;
  }

  .container {
    background: rgba(005,005,005, 0.4);

  }
  .container h1 {
    text-decoration: underline;

  }
  .column1 {
    text-align: left;
    float: left;
    margin: 16px;
  }

 .column1 img{
   float: left;
   margin-right: 16px;

 }
 .column1 p {
 }

 .column2  {
   text-align: right;
   float: right;
   margin: 16px;
 }

 .column2 img {
   float: right;
   margin-left: 16px;

 }
 .column2 p {

 }
 .column3  {
   text-align: left;
   float: left;
   margin: 16px;
 }

 .column3 img {
   float: left;
   margin-right: 16px;
 }
 .column3 p {

 }


}
