@charset "UTF-8";
@font-face {
  font-family: serif;
}
/* */

/*Main*/
.container {
  margin: auto;
  width: 75%;
  padding: 5px;
}

/*Nav*/
img {
  display:block;
  width: 128px;
}
@media screen and  (min-width:680px) {
 img {
   display: block;
   width: 256px;
 }
}
@media screen and  (min-width:1280px) {
 img {
   display: block;
   width: 512px;
 }
}
